<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aize_Rma::rma_request" title="RMA Requests" module="Aize_Rma" sortOrder="50" parent="Magento_Sales::sales" action="aize_rma/rmarequest" resource="Aize_Rma::rma_request"/>
    </menu>
</config>
